<mat-list role="list">
    <div class="profile-card">
        <img src="https://tse4.mm.bing.net/th?id=OIP.hnx-II3sPWT68EKfXOzSaAHaEK&pid=Api&P=0" alt="no image">
        <h3>Admin</h3>
        <h4>admin@ceoxyz.com</h4>
        

    </div>
    <mat-divider></mat-divider>
    <h4 matSubheader>pages</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Cources</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees</a>
  </mat-list>
  
